<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Form</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
	<section class="section has-background-link-dark">
		<p class="title has-text-white has-text-centered">Dojos</p>
		<div class="container">
		<% if @student.errors.any? %>
			<div class="notification is-danger">
				<h2>
					<%= pluralize(@student.errors.count, "error")%> prohibited this student from being saved:
				</h2>

				<ul>
				<% @student.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
			<form action='/dojos/<%= @student.dojo_id %>/students/<%= @student.id %>' method='post' class="box">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="hidden" name="_method" value="patch">
				<div class="content">
					<a class="is-size=5" href="/dojos">Home</a>
					<p class="title">New Student</p>
				</div>
					<div class="field">
						<label class="label">First Name:</label>
						<div class="control">
							<input class="input" type="text" name="student[first_name]" placeholder="eg John" value="<%= @student.first_name %>">
						</div>
					</div>

					<div class="field">
						<label class="label">Last Name:</label>
						<div class="control">
							<input class="input" type="text" name="student[last_name]" placeholder="eg Smith" value="<%= @student.last_name %>">
						</div>
					</div>

					<div class="field">
						<label class="label">Email Address:</label>
						<div class="control">
							<input class="input" type="email" name="student[email]" placeholder="eg jsmith@example.com" value="<%= @student.email %>">
						</div>
					</div>

					<div class="field">
						<label class="label">Dojo:</label>
						<div class="select">
							<%= select_tag "student[dojo_id]", options_from_collection_for_select(Dojo.all, "id", "branch", @student.dojo_id) %>
						</div>
					</div>
					<button class="button is-primary" type="submit">Submit</button>
				</form>
			</div>
		</div>
	</section>
</body>
</html>