<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
	<div class="container">
	<p class="title has-text-white has-text-centered">Profile page</p>
		<div class="container">
			<div class="columns">
				<div class="column">
					<div class="card has-background-info-light">
						<form action='/users/<%= @user.id %>' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input name="_method" type="hidden" value="patch" />
							<header class="card-header has-background-white">
								<p class="card-header-title is-centered is-size-3">Edit</p>
							</header>
							<div class="card-content">
								<div class="field">
									<label class="label">Name:</label>
									<div class="control">
										<input class="input" type="text" id="name" name="name" value="<%= @user.name %>">
									</div>
								</div>
								<div class="field">
									<label class="label">Email:</label>
									<div class="control">
										<input class="input" type="email" id="email" name="email" value="<%= @user.email %>">
									</div>
								</div>
								<div class="field has-text-centered">
									<div class="control">
										<button class="button is-warning">Update</button>
									</div>
								</div>
							</div>
						</form>
						<form action="/users/<%= @user.id %>" method="post">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input name="_method" type="hidden" value="delete" />
							<button class="button is-danger" name="Delete Account">
								Delete Account
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>