<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Secrets</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
	<div class="container">
		<% @secrets.each do |secret| %>
			<div class="card">
				<div class="card-content">
					<div class="level-left">
						<div class="level-item">
							<div class="label is-size-6">
								<a href="/users/<%= secret.user.id %>"><%= secret.user.name %></a> - <%= secret.created_at %>
							</div>
						</div>
						<div class="level-item">
							<% if current_user == secret.user %>
								<form action="/secrets/<%= secret.id %>" method="post">
									<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
									<input name="_method" type="hidden" value="delete" />
									<div class="control">
										<button class="button is-danger" id="Delete Secret">Delete Secret</button>
									</div>
								</form>
							<% end %>
						</div>
					</div>
					<div class="content">
						<p><%= secret.content %></p>
					</div>
				</div>
			</div>
			<div class="block"></div>
		<% end %>
	</div>
</body>
</html>