<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Form</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
	<section class="section has-background-link-dark">
		<p class="title has-text-white has-text-centered">Dojos</p>
		<div class="container">
		<% if @dojo.errors.any? %>
			<div class="notification is-danger">
				<h2>
					<%= pluralize(@dojo.errors.count, "error")%> prohibited this post from being saved:
				</h2>

				<ul>
				<% @dojo.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
			<form action='/dojos/<%= @dojo.id %>' method='post' class="box">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="hidden" name="_method" value="patch">
				<div class="content">
					<a class="is-size=5" href="/dojos">Home</a>
					<p class="title">Edit Dojo # <%= @dojo.id %></p>
				</div>
					<div class="field">
						<label class="label">Branch:</label>
						<div class="control">
							<input class="input" type="text" name="dojo[branch]" placeholder="eg CD Seattle" value="<%= @dojo.branch %>">
						</div>
					</div>

					<div class="field">
						<label class="label">Street:</label>
						<div class="control">
							<input class="input" type="text" name="dojo[street]" placeholder="eg 1111 Main St" value="<%= @dojo.street %>">
						</div>
					</div>

					<div class="field">
						<label class="label">City:</label>
						<div class="control">
							<input class="input" type="text" name="dojo[city]" placeholder="eg Seattle" value="<%= @dojo.city %>">
						</div>
					</div>

					<div class="field">
						<label class="label">State:</label>
						<div class="control">
							<input class="input" type="text" name="dojo[state]" placeholder="eg WA" value="<%= @dojo.state %>">
						</div>
					</div>
					<button class="button is-primary" type="submit">Submit</button>
					<a href="/dojos/<%= @dojo.id %>" class="button is-info">Show</a>
				</form>
			</div>
		</div>
	</section>
</body>
</html>