<div class="card">
    <div class="card-content has-text-centered is-size-4">
        <table class="table is-bordered is-striped is-narrow is-hoverable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th># of dishes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @ViewBag.RecentChefs)
                {
                    <tr>    
                        <td>@item.FirstName @item.LastName</td>
                        <td>@{
                                var age = DateTime.Today.Year - @item.BirthDate.Year;
                            }
                            @age
                            </td>
                        <td>@item.Dishes?.Count</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>